{% load static %}
{% load bootstrap4 %}

<head>
    <link rel="stylesheet" href="{% static 'meeting/css/call.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


</head>

<script src="{% static 'meeting/js/call.js' %}"></script>


<body>
    <div class="container">
        <div style="color: white; ">
            여기다가 영상
        </div>
        <div style="color: white; ">
            여기다가 채팅
        </div>
    </div>
    <div class="using_button navbar-fixed-bottom">
        <div>
            <button onclick="imgToggle()" ><img src="mute_red.png" id="img1"></button>
        
        

            <button  onclick="imgToggle_video()"><img src="start_video.png" id="img2"></button>

            <img src="roulette.png">

            <img src="view_more.png">
        </div>
        <div style="color: white;">
            회의 제목
            <br>
            회의시간
        </div>
        <div>
            <img src="screen_sharing.png">
            <img src="people.png">
            <img src="off.png">
        </div>
        
        

    </div>
    
</body>

  
  
