<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/d736d670df.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'meeting/css/app.css' %}">

</head>
<body>
    <div class="chat-box">
        <div class="chat-header">
            <span class="chat-title">채팅</span>
            <i class="far fa-times-circle"></i>
        </div>

        <hr class="hr-top">

        <div class="chat-container">
            <div class="chat-info">
                <span class="chat-user">최유찬 (나) :</span>
            </div>
            <p class="chat-content">안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕</p>
        </div>

        <div class="chat-container">
            <div class="chat-info">
                <span class="chat-user">허태정 :</span>
            </div>
            <p class="chat-content">룰렛룰셀뤠루ㅜ세룰렛룰셀뤠루ㅜ세룰렛룰셀뤠루ㅜ세룰렛룰셀뤠루ㅜ세룰렛룰셀뤠루ㅜ세</p>
        </div>

        <div class="chat-container">
            <div class="chat-info">
                <span class="chat-user">강승원 :</span>
            </div>
            <p class="chat-content">고양이고양이고양이고양이고양이고양이고양이고양이고양이고양이고양이</p>
        </div>

        <div class="chat-container">
            <div class="chat-info">
                <span class="chat-user">정지윤 :</span>
            </div>
            <p class="chat-content">ㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇㅎㅇ</p>
        </div>
        <div class="chat-container">
            <div class="chat-info">
                <span class="chat-user">김소연 :</span>
            </div>
            <p class="chat-content">하하하하하하하하하하하</p>
        </div>

        <div class="chat-bottom">
            <hr class="hr-bottom">
            <input type="text" class="chat-input" placeholder="메시지 입력">
        </div>
    </div>
</body>
</html>