{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'roulette/roulette.css' %}">
    <title>Document</title>
</head>

<body>
<audio autoplay>
    <source src="{% static 'roulette/boom_sound.mp3' %}" type="audio/mp3">
</audio>

    <img class="back" src="{% static 'roulette/back.png' %}" alt="">
    <span class="star"></span>
    <span class="star top01"></span>
    <span class="star top02"></span>
    <span class="star top03"></span>
    
    <img class="boom" src="{% static 'roulette/boom.png' %}" alt="">

    <div class="roulette-content">
        <div class="userimg-size">
            <div class="userimg-center">
                <img class="userimg" src="{% static 'roulette/user.png' %}" alt="">
            </div>
        </div>
        <div class="svg">
            <img class="bang" src="{% static 'roulette/bang.png' %}" alt="" >
        </div>
    </div>
</body>
</html>