{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>


<body>

    <nav class="navbar">
        <div class="nav_container">
            <div style="display: flex;">
                <div>
                    <img src="{% static 'navicon.png' %}"  width="30px" style="vertical-align: middle; padding-top: 0.5rem; ">
                </div>
                
                <div class="nav_div_left">
                    <a href="{% url 'home' %}">
                        <font class="nav_font_left">Roulette Meetings</font>
                    </a>
                    
                </div> 
            </div>
            
    
            <div class="nav_div_right">
                <font class="nav_font_right">
                    <a href="{% url 'home' %}">
                        <font style="color: #e18411; padding-right: 1.5rem; ">Home</font>
                    </a>
                                        
                    {% if not user.is_authenticated %}
                    <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                        <font style="color: #0070e2; padding-right: 1.5rem;  ">Login</font>
                    </a>
                    <a href="{% url 'accountapp:create' %}">
                        <font style="color: #cd2002;  ">SignUp</font>
                    </a>
                    {% else %}

                    <a href="{% url 'accountapp:detail' pk=user.pk%}">
                        <font style="color: #0070e2; padding-right: 1.5rem; ">Mypage</font>
                    </a>
                    <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
                        <font style="color: #cd2002;  ">Logout</font>
                    </a>
                    {% endif %}
                    
                </font>
            </div>   
        </div>
    </nav>

    <div class="body_div_left">
        <img src="{% static '02.png' %}" style="padding-top: 10rem; width: 750px; margin-left: 3rem;">
        <br>
        <button class="button_newmeeting">새 회의</button> 
        <button class="button_connectmeeting">초대코드 입력</button>
    </div>
    <div class="body_div_right">
        <img src="{% static '01.png' %}" style="padding-top: 10rem; padding-right: 3rem; width: 700px;">
    </div>

    
</body>

